.tab-container {
  width: 100%;
  display: flex;
  overflow-x: auto;
  border-radius: 0.25rem;
  margin-top: 2rem;
}

.tab {
  display: inline-block;
  margin-right: 1rem;
  padding: 0.8rem 1.2rem;

  &.active,
  &.active:hover,
  &.active:focus {
    border-bottom: 0.2rem solid var(--color-info);
    color: var(--color-info);
  }
  &:hover,
  &:focus {
    color: var(--color-info-dark);
    outline: none;
    background: var(--color-gray);
    border-bottom: 0.2rem solid var(--color-info-light);
  }
}
